<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Flights</title>
    <link th:href="@{//webjars/chosen/chosen.css}" type="text/css" rel="stylesheet">
    <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
</head>
<body>
<h2>Flights</h2>
<a href="/">
    <button>Back</button>
</a>
<div class="input-group input-group-lg">
    <div class="input-group-prepend">
        <span class="input-group-text">Search criteria</span>
    </div>
    <input placeholder="Departure city" id="searchDepCity" class="form-control"/>
    <input placeholder="Departure country" id="searchDepCountry" class="form-control"/>
    <input placeholder="Destination city" id="searchDesCity" class="form-control"/>
    <input placeholder="Destination country" id="searchDesCountry" class="form-control"/>
    <input placeholder="Minimal cost" id="searchCost" class="form-control"/>
    <input placeholder="Date" id="day" type="date" class="form-control"/>
</div>
<button onclick="search()">Search</button>
<p th:text="${message}" th:if="${message != null}"></p>
<select data-placeholder="Choose a type..." class="chosen-select" id="status" onchange="filter()" name="status">
    <option value="">All</option>
    <option value="UPCOMING">Upcoming</option>
    <option value="PAST">Past</option>
    <option value="CANCELLED">Cancelled</option>
</select>
<div id="flights">
    <div class="card mb-5" th:each="flight : ${flights}">
        <div class="card-body">
            <div style="display:flex">
                <h3 class="card-text" th:text="${flight.departure.country}"></h3>
                <h3 class="card-text" style="margin-left:auto" th:text="${flight.destination.country}"></h3>
            </div>
            <div style="display:flex">
                <h6 class="card-text" th:text="${flight.departure.city}"></h6>
                <h6 class="card-title" style="margin-left:auto" th:text="${flight.destination.city}"></h6>
            </div>
            <div style="display:flex">
                <h6 th:text="${flight.timeArrival}"></h6>
                <h6 style="margin-left:auto" th:text="${flight.timeDeparture}"></h6>
            </div>
            <h5 th:text="@{'Tickets left: ' + ${flight.tickets.size()}}"></h5>
            <button id="cancel" th:onclick="deleteFlight([[${flight.id}]])" sec:authorize="hasRole('ADMIN')">Cancel</button>
        </div>
        <a th:href="@{'flights/' + ${flight.id} + '/tickets'}">Tickets</a>
    </div>
</div>
<script th:src="@{//webjars/jquery/jquery.min.js}"></script>
<script th:src="@{//webjars/chosen/chosen.jquery.js}"></script>
<script th:src="@{//webjars/chosen/chosen.proto.js}"></script>
<script>

    function deleteFlight(id) {
        $.ajax({
            type: "DELETE",
            url: `/api/flights/${id}`,
            dataType: "json",
            complete: function () {
                location.reload();
            }
        });
    }

    function editFlight(id) {
        $.ajax({
            type: "PUT",
            url: `/api/flights/${id}`,
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({timeDeparture: document.getElementById(`timeDeparture_${id}`).value,
                                timeArrival: document.getElementById(`timeArrival_${id}`).value,
                                status: document.getElementById(`status_${id}`).value}),
            error: function (xhr) {
                alert(xhr.responseJSON.message);
            },
            complete: function () {
                location.reload();
            }
        });
    }


    function search() {
        let dString = document.getElementById(`day`).value;
        var d = new Date(dString);
        if (dString.length == 0) date = null;
        else {
            var date =
            ("0" + d.getDate()).slice(-2) + "." +
            ("0" + (d.getMonth() + 1)).slice(-2) + "." +
            d.getFullYear();
        }
        $.ajax({
            type: "GET",
            url: `/api/flights/filter`,
            data: {
                    departureCountry: document.getElementById(`searchDepCountry`).value,
                    departureCity: document.getElementById(`searchDepCity`).value,
                    destinationCountry: document.getElementById(`searchDesCountry`).value,
                    destinationCity: document.getElementById(`searchDesCity`).value,
                    cost: document.getElementById(`searchCost`).value,
                    date: date
            },
            complete: function (response) {
                let data = JSON.parse(response.responseText);
                let table = "";
                for (elem of data) {
                    table += '<div class="card-body"><div style="display:flex">';
                    table += '<h3 class="card-text">' + elem.departure.country + '</h3>';
                    table += '<h3 class="card-text" style="margin-left:auto">' + elem.destination.country + '</h3>';
                    table += '</div><div style="display:flex">';
                    table += '<h6 class="card-text">' + elem.departure.city + '</h3>';
                    table += '<h6 class="card-text" style="margin-left:auto">' + elem.destination.city + '</h3>';
                    table += '</div><div style="display:flex">';
                    table += '<h6>' + elem.timeDeparture + '</h3>';
                    table += '<h6 style="margin-left:auto">' + elem.timeArrival + '</h3></div>';
                    for (ticket of elem.tickets){
                        table += '<h5>Tickets left: ' + ticket +'</h5>';
                    }
                    table += '</div><a href="flights/' + elem.id + '/tickets">Tickets</a>';
                }
                if (table.length == 0) table += "Nothing found";
                console.log(table);
                $("#flights").html(table);
            }
        });
    }




    $(".chosen-select").chosen({
            width: "20%",
            no_results_text: "Oops, nothing found!"
    })

    function filter() {
        let status = $("select[name='status']").val();
        $.ajax({
            url: `api/flights`,
            type: "get",
            data: {
                status: status,
            },
            complete: function (response) {
                let data = JSON.parse(response.responseText);
                let table = '<table class="flights">';
                for (elem of data) {
                    table += '<tr>';
                    table += '<td>' + elem.departure.name + '</td>';
                    table += '<td>' + elem.departure.country + '</td>';
                    table += '<td>' + elem.departure.city + '</td>';
                    table += '<td>' + elem.destination.name + '</td>';
                    table += '<td>' + elem.destination.country + '</td>';
                    table += '<td>' + elem.destination.city + '</td>';
                    table += '<td>' + elem.airplane.name + '</td>';
                    table += '<td>' + elem.timeDeparture + '</td>';
                    table += '<td>' + elem.timeArrival + '</td>';
                }
                table += '</table>';
                let div = '<div><table><tr>';
                $(".flights").html(table);
            }
        });
    }
</script>
</body>
</html>