<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{//webjars/chosen/chosen.css}" type="text/css" rel="stylesheet">
</head>
<body>
<h2>Airports</h2>
<a href="/">
    <button>Back</button>
</a>
<p th:text="${message}" th:if="${message != null}"></p>
<select data-placeholder="Choose a departure airport..."
        class="chosen-select" id="departure">
    <option th:each="airport : ${airports}" th:value="${airport.id}"
            th:text="${airport.name}"></option>
</select>
<select data-placeholder="Choose a departure airport..."
        class="chosen-select" id="destination">
    <option th:each="airport : ${airports}" th:value="${airport.id}"
            th:text="${airport.name}"></option>
</select>
<select data-placeholder="Choose an airplane..."
        id="airplane">
    <option th:each="airplane : ${airplanes}" th:value="${airplane.id}"
            th:text="${airplane.name}"></option>
</select>
<input placeholder="Time departure" name="timeDeparture" id="timeDeparture" type="datetime-local"/>
<input placeholder="Time arrival" name="timeArrival" id="timeArrival" type="datetime-local"/>
<button th:onclick="addFlight()">Create template</button>
<table border="1" cellspacing="0" cellpadding="5" class="flights">
    <thead>
    <tr>
        <th>Name of departure airport</th>
        <th>Country</th>
        <th>City</th>
        <th>Name of destination airport</th>
        <th>Country</th>
        <th>City</th>
        <th>Airplane</th>
        <th>Departure time</th>
        <th>Arrival time</th>
        <th>Economic cost</th>
        <th>Busyness cost</th>
        <th>First-class cost</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="flight : ${flights}">
        <td>
            <select data-placeholder="Choose a departure airport..."
                    th:id="@{'departure_' + ${flight.id}}" th:onchange="getDeparture([[${flight.id}]])">
                <option th:each="airport : ${airports}" th:value="${airport.id}"
                        th:text="${airport.name}" th:selected="${airport} == ${flight.departure}"></option>
            </select>
        </td>
        <td th:text="${flight?.departure?.country}" th:class="@{'depcountry_' + ${flight.id}}"></td>
        <td th:text="${flight?.departure?.city}" th:class="@{'depcity_' + ${flight.id}}"></td>
        <td>
            <select data-placeholder="Choose a departure airport..."
                    th:id="@{'destination_' + ${flight.id}}" th:onchange="getDestination([[${flight.id}]])">
                <option th:each="airport : ${airports}" th:value="${airport.id}"
                        th:text="${airport.name}" th:selected="${airport} == ${flight.destination}"></option>
            </select>
        </td>
        <td th:text="${flight?.destination?.country}" th:class="@{'descountry_' + ${flight.id}}"></td>
        <td th:text="${flight?.destination?.city}" th:class="@{'descity_' + ${flight.id}}"></td>
        <td>
            <select data-placeholder="Choose an airplane..." th:id="@{'airplane_' + ${flight.id}}">
                <option th:each="airplane : ${airplanes}" th:value="${airplane.id}"
                        th:text="${airplane.name}" th:selected="${airplane} == ${flight.airplane}"></option>
            </select>
        </td>
        <td>
            <input th:value="${flight.timeDeparture}" th:id="@{'timeDeparture_' + ${flight.id}}" type="datetime-local"/>
        </td>
        <td>
            <input th:value="${flight.timeArrival}" th:id="@{'timeArrival_' + ${flight.id}}" type="datetime-local"/>
        </td>
        <td>
            <input th:id="@{'economic_' + ${flight.id}}" type="number">
        </td>
        <td>
            <input th:id="@{'business_' + ${flight.id}}" type="number">
        </td>
        <td>
            <input th:id="@{'first_' + ${flight.id}}" type="number">
        </td>
        <td><span> <button id="confirm" th:onclick="confirmFlight([[${flight.id}]])">Confirm</button></span>
        </td>
        <td><span> <button id="cancel" th:onclick="deleteFlight([[${flight.id}]])">Delete</button></span>
        </td>
        <td><span> <button id="edit" th:onclick="editFlight([[${flight.id}]])">Edit</button> </span></td>
    </tr>
    </tbody>
</table>
<script th:src="@{//webjars/jquery/jquery.min.js}"></script>
<script th:src="@{//webjars/chosen/chosen.jquery.js}"></script>
<script th:src="@{//webjars/chosen/chosen.proto.js}"></script>
<script>

    function deleteFlight(id) {
        $.ajax({
            type: "DELETE",
            url: `/api/templates/${id}`,
            dataType: "json",
            complete: function () {
                location.reload();
            }
        });
    }

    function editFlight(id) {
        $.ajax({
            type: "PUT",
            url: `/api/templates/${id}`,
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({departure: document.getElementById(`departure_${id}`).value,
                                    destination: document.getElementById(`destination_${id}`).value,
                                   airplane: document.getElementById(`airplane_${id}`).value,
                                timeDeparture: document.getElementById(`timeDeparture_${id}`).value,
                                timeArrival: document.getElementById(`timeArrival_${id}`).value}),
            error: function (xhr) {
                alert(xhr.responseJSON.message);
            },
            complete: function () {
                location.reload();
            }
        });
    }

    function confirmFlight(id) {
        $.ajax({
            type: "POST",
            url: `/api/templates/confirm`,
            contentType: "application/json",
            data: JSON.stringify({id: id,
                                    departure: document.getElementById(`departure_${id}`).value,
                                    destination: document.getElementById(`destination_${id}`).value,
                                    airplane: document.getElementById(`airplane_${id}`).value,
                                    timeDeparture: document.getElementById(`timeDeparture_${id}`).value,
                                    timeArrival: document.getElementById(`timeArrival_${id}`).value,
                                    economic: document.getElementById(`economic_${id}`).value,
                                    business: document.getElementById(`business_${id}`).value,
                                    first: document.getElementById(`first_${id}`).value}),
            error: function (xhr) {
                alert(xhr.responseJSON.message);
            },
            success: function () {
                location.reload();
            }
        });
    }
    function addFlight() {
        $.ajax({
            type: "POST",
            url: `/api/templates`,
            contentType: "application/json",
            data: JSON.stringify({departure: document.getElementById(`departure`).value,
                                    airplane: document.getElementById(`airplane`).value,
                                    destination: document.getElementById(`destination`).value,
                                    timeDeparture: document.getElementById(`timeDeparture`).value,
                                    timeArrival: document.getElementById(`timeArrival`).value}),
            error: function (xhr) {
                alert(xhr.responseJSON.message);
            },
            success: function () {
                location.reload();
            }
        });
    }

    function getDeparture(idd) {
        let id = $("#departure_" + idd).val();
        $.ajax({
            type: "GET",
            url: `/api/airports/${id}`,
            complete: function (response) {
                let data = JSON.parse(response.responseText);
                $(".depcountry_" + idd).html(data.country);
                $(".depcity_" + idd).html(data.city);
            }
        });
    }

    function getDestination(idd) {
        let id = $("#destination_" + idd).val();
        $.ajax({
            type: "GET",
            url: `/api/airports/${id}`,
            complete: function (response) {
                let data = JSON.parse(response.responseText);
                $(".descountry_" + idd).html(data.country);
                $(".descity_" + idd).html(data.city);
            }
        });
    }

    $(".chosen-select").chosen({
            width: "20%",
            no_results_text: "Oops, nothing found!"
    })




</script>
</body>
</html>